<table class="bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="phoneBook in phoneBooks">
      <td>{{ phoneBook['phone_book'].name }}</td>
      <td>{{ phoneBook['phone_book'].phone }}</td>
      <td><a ng-click="editPhoneBook(phoneBook['phone_book'].id)">edit</a></td>
      <td><a ng-click="deletePhoneBook(phoneBook['phone_book'].id)">delete</a></td>
    </tr>
  </tbody>
</table>
<a ng-click="createNewPhoneBook()" class="btn btn-small">create new phoneBook</a>
</div>
